article {
	box-sizing: border-box;
	height: 500px;
	width: 1405px;
	margin: 15px;
	padding: 100px;
	border: 7px rgb(198, 76, 225) solid;
	background-color: rgb(111, 171, 211);
	border-radius: 50px 50px
}
.right_float {
	float: right;
}
.left_float {
	float: left;
}
