header {
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(110, 29, 130), rgb(5, 228, 147));
    border-color: rgb(110, 29, 130);
    width: 100%;
    padding: 1em;
    font-size: xx-large;
    
}

.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    z-index: 1;
    border-color: rgb(0, 0, 0);
    padding: 1px
}

.topnav a {
    float: left;
    color: rgb(110, 29, 130);
    text-align: left;
    padding: 25px;
    font-size: 25px;
}

.topnav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(110, 29, 130);
}

a:link {
    color: rgb(110, 29, 130);
    text-decoration: none;
}

a:visited {
    color: rgb(110, 29, 130);
}

.topnav a.active {
    background-color: rgb(110, 29, 130);
    color: white;
}

body {
    background-color: rgb(170, 233, 247);
    margin-left: 25px;
    margin-right: 25px;
}

footer {
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

h1 {
    font-family: "Rampart One", sans-serif;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-family: "Libre Baskerville", sans-serif;
}

ul {
    
    list-style-position: inside;
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
}

hr {
    background-color: rgb(0, 0, 0);
}

p {
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
}

#pulpmembers {
    color: rgb(6, 93, 255);
}

.IMPORTANT {
    color: rgb(110, 29, 130);
}

dd {
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
}

li {
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
}

fieldset {
    background-color: rgb(240, 238, 218);
}

table {
    background-color: rgb(238, 173, 173);
    border: 3px groove rgb(238, 173, 173);
}

.background-scroll {
    z-index: 0
}

th, td {
    padding: 10px;
    border: thin solid rgb(0, 0, 0);
}

.margin-0
{
    margin: 0px;
}