header {
    text-align: center;
    color: rgb(4, 0, 35);
    background-image: linear-gradient(to right, rgb(163, 72, 186), rgb(5, 228, 147));
    border-color: rgb(107, 54, 122);
    width: 95.5%;
    padding: 1em;
    font-size: xx-large;
}

.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
}

.topnav a {
    float: left;
    color: rgb(205, 165, 202);
    text-align: left;
    padding: 25px;
    font-size: 25px;
}

.topnav a:hover {
    background-color: rgb(218, 198, 214);
    color: rgb(201, 109, 228);
}

a:link {
    color: rgb(234, 164, 232);
    text-decoration: none;
    background-color: rgb(18, 1, 41);
}

a:visited {
    color: rgb(206, 119, 224);
}

.topnav a.active {
    background-color: rgb(182, 60, 216);
    color: white;
}

body {
    background-color: rgb(170, 233, 247);
    margin-left: 25px;
    margin-right: 25px;
}

footer {
    text-align: center;
    background-color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

h1 {
    font-family: "Rampart One", sans-serif;
}

h2 {
    color: rgb(74, 48, 8);
    font-size: xx-large;
    font-family: "Libre Baskerville", sans-serif;
}

ul {
    
    list-style-position: inside;
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
}

hr {
    background-color: rgb(125, 78, 8);
}

p {
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
}

#pulpmembers {
    color: rgb(6, 93, 255);
}

.IMPORTANT {
    color: rgb(150, 31, 124);
}

dd {
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
}

li {
    font-size: large;
    font-family: "Roboto Condensed", sans-serif;
}

fieldset {
    background-color: rgb(240, 238, 218);
}

table {
    background-color: rgb(238, 173, 173);
}