header {
    text-align: center;
    color: rgb(4, 0, 35);
    background-image: linear-gradient(to right, rgb(163, 72, 186) , rgb(5, 228, 147));
    border-color: rgb(107, 54, 122);
    width: 97%;
    padding: 1em;
}
nav {
    text-align: center;
    background-color: rgb(217, 209, 238);
    width: 97%;
    padding: 1em;
}
a:link {
        color:rgb(0, 0, 0);
    } 
a:visited {
    color:rgb(115, 99, 22);
} 
a:hover {
    color:rgb(138, 4, 179);
} 
a:active {
    color:rgb(0, 0, 0)F;
}  
body {
    background-color: rgb(170, 233, 247);
    margin-left: 25px;
    margin-right: 25px;
    font-style: ;
}
footer {
    text-align: center;
    background-color: rgb(217, 209, 238);
}
h2 {
    color: rgb(125, 78, 8);
    text-align: center;
}
ul{
    text-align: center;
    list-style-position:inside;
}
hr {
    background-color: rgb(125, 78, 8);
}
